html{
    max-width: 1080px;
    margin: 0 auto;
    background-color: whitesmoke;
}


header{
    font-size: 2em;
    text-align: center;
    margin: 0 auto 4em;

}
header h1{
    padding-top: 60px;
}

#last-name{
    color: maroon
}

#profile-pic{
    float: left;
    border: 10px solid rgb(175, 2, 2);
    border-radius: 100%;
    width: 50%;
    max-width: 200px;
}

body main{
    display: grid;
    font-family: "Buda", serif, Arial;
    font-size: 1.25em;
}

aside{
    grid-column: 1;
    grid-row: 1 / 10;
    margin-right: 60px;

    padding-right: 10px;
    background-color: maroon;
    font-weight: bold;
}

aside a{
    color:white;
}

nav ul{
    list-style: none;
    font-family: "Anybody";
}

nav ul li{
    padding-top: 10px;
    margin: 0.8em 0;
}

a{
    text-decoration: none;
    font-weight: bold;
}

p{
    margin: .5em 0;
    font-family: "Forum", serif, Arial;
    font-size: 26px;
}

h2, h3{
    margin: .25em 0;
}

#about{
    grid-column: 2/10;
    grid-row: 1;
}

#experience{
    grid-column: 2/10;
    grid-row: 2;
}

#education{
    grid-column: 2/10;
    grid-row: 3;
}

#skills{
    grid-column: 2/10;
    grid-row: 4;
}

#interests{
    grid-column: 2/10;
    grid-row: 5;
}